
@inherits LayoutComponentBase


<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
    <MudAppBar Elevation="4">
        <MudText Typo="Typo.h6"> Daily Quote Manager </MudText>
    </MudAppBar>

    @Body
</div>




    @code{
    [Inject] IJSRuntime jSRuntime { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await jSRuntime.InvokeAsync<string>("getCookie", "access_token");
        }
    }

    }